# useful python patterns

Coding patterns that use and prove useful or that I encounter during reading or during lectures are compiled in this Notebook.

## setup

In [7]:
import pandas as pd
import numpy as np

## general

## pandas

In [57]:
# define a pandas dataframe using a pyton dictionary
example_dict = { 
     'name' : ["a", "b", "c", "d", "e","f", "g"],
     'age' : [20,27, 35, 55, 18, 21, 35],
     'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]
}
example_df = pd.DataFrame(example_dict)

In [64]:
# read and write pandas dataframes
#https://stackoverflow.com/questions/16923281/pandas-writing-dataframe-to-csv-file
    
# configure project folder for csv data output
project_folder ='/home/kaelin_joseph/projects/RogunHPP/data/out/'

# read csv file into DataFrame
lugeonDG2_df = pd.read_csv(project_folder+'lugeonDG2_df')

# write DataFrame to csv file
# 'index=False' -> do not store preceding indice of each row of DataFrame
#lugeonDG2_df.to_csv(project_folder+'lugeonDG2_df', encoding='utf-8', index=False)

lugeonDG2_df.head()

,nr,station,borehole,date,d_up,d_down,stage_l,avg_lugeon,x_stat,y_stat,...,offset_h,offset_v,inclination,x_collar,y_collar,z_collar,x_stage_down,y_stage_down,z_stage_down,lithology
0,1,88.0,DR-1,13/10/2016,65.0,70.0,5.0,0.0434,27612.086999,23225.573328,...,1.7,-1.7,37.0,27612.260097,23223.882163,992.654145,27617.871100,23169.062720,1034.179382,sandstone_K1ob2
1,1,88.0,DR-1,12/10/2016,60.0,65.0,5.0,0.1360,27612.086999,23225.573328,...,1.7,-1.7,37.0,27612.260097,23223.882163,992.654145,27617.464506,23173.035143,1031.170307,sandstone_K1ob2
2,1,88.0,DR-1,12/10/2016,55.0,60.0,5.0,0.1976,27612.086999,23225.573328,...,1.7,-1.7,37.0,27612.260097,23223.882163,992.654145,27617.057911,23177.007567,1028.161232,sandstone_K1ob2
3,1,88.0,DR-1,12/10/2016,50.0,55.0,5.0,0.0452,27612.086999,23225.573328,...,1.7,-1.7,37.0,27612.260097,23223.882163,992.654145,27616.651317,23180.979990,1025.152157,sandstone_K1ob2
4,1,88.0,DR-1,12/10/2016,45.0,50.0,5.0,0.1580,27612.086999,23225.573328,...,1.7,-1.7,37.0,27612.260097,23223.882163,992.654145,27616.244722,23184.952414,1022.143081,sandstone_K1ob2

In [65]:
# selecting subsets of data in pandas
# http://pandas.pydata.org/pandas-docs/stable/indexing.html
# https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-6fcd0170be9c

# select all rows of multiple columns
#%timeit example_df.loc[:, ["age", "name"]]  #slower using .loc than without
example_df[["age", "name"]]

# select rows of column for a column meeting a condition
#  example_df[(example_df["age"] >= 21) & (example_df["age"] < 50)]["name"]  #using indexing operator
#  https://stackoverflow.com/questions/38886080/python-pandas-series-why-use-loc
#    requires one operation instead of two, faster
#    explicit is better than implicit
%timeit example_df.loc[(example_df["age"] >= 21) & (example_df["age"] < 50), "name"]

The slowest run took 4.65 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 3: 689 Âµs per loop

In [82]:
#%timeit lugeonDG2_df.loc[:, ["station", "lithology"]]
%timeit lugeonDG2_df.loc[(lugeonDG2_df["station"] >= 50) & (lugeonDG2_df["station"] < 150), "lithology"]

The slowest run took 4.00 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 3: 650 Âµs per loop

In [83]:
#%timeit lugeonDG2_df[["station", "lithology"]]
%timeit lugeonDG2_df[(lugeonDG2_df["station"] >= 50) & (lugeonDG2_df["station"] < 150)]["lithology"]

1000 loops, best of 3: 986 Âµs per loop

In [63]:
lugeonDG2_df.loc[((lugeonDG2_df['lithology'] == 'sandstone_K1ob2') & 
                  (lugeonDG2_df['d_up'] >= 5.0))]['avg_lugeon'].describe(
                      percentiles= [.25, .5, .80, 0.85, 0.90, 0.95])

count    578.000000
mean       2.762259
std        6.099644
min        0.012400
25%        0.258950
50%        0.642000
80%        2.950500
85%        4.190500
90%        6.709000
95%       13.537125
max       52.000000
Name: avg_lugeon, dtype: float64

## grass gis