In [1]:
#!sudo pip install --upgrade pixiedust

In [2]:
# set up python ecosystem
import json
from math import *
import pandas as pd
import numpy as np
from IPython.core.display import HTML, display
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
from matplotlib.lines import Line2D
from scipy.stats import norm
from scipy.stats import lognorm
from scipy import stats

import pixiedust
from pixiedust.display import *

Pixiedust database opened successfully

In [3]:
# set maximum number of rows to display from a pandas data frame
pd.set_option('display.max_rows', 5000)

In [4]:
#datafile = 'data/Rogun/2018.05.20.Grouting_Data.csv'
datafile = 'data/Rogun/2018.05.20.Grouting_Data_fixed.csv'

In [5]:
#df = pd.read_csv(datafile, names=names)
#data_df = pd.read_csv(datafile, parse_dates=True, dayfirst=True)
data_df = pd.read_csv(datafile, dayfirst=True)
print(data_df.count())
data_df = data_df.dropna(subset=['Date'])     #drop all rows that have any NaN values
print(data_df.count())
data_df['Date'] = pd.to_datetime(data_df['Date'], format='%d/%m/%Y', errors='coerce')

Nr          2821
Record      2821
Opening     2821
Location    2821
Type        2821
Hole        2821
Chainage    2821
Diameter     345
Date        2819
Stage       2821
Depth       2821
Grout       2743
Cement      2743
dtype: int64
Nr          2819
Record      2819
Opening     2819
Location    2819
Type        2819
Hole        2819
Chainage    2819
Diameter     345
Date        2819
Stage       2819
Depth       2819
Grout       2742
Cement      2742
dtype: int64

In [6]:
#data_df
data_df.head()

,Nr,Record,Opening,Location,Type,Hole,Chainage,Diameter,Date,Stage,Depth,Grout,Cement
0,1,1,PH,DS,Tendon,TBF-1,00+02.00,110.0,2016-05-08,1,30,189.0,204.12
1,2,2,PH,DS,Tendon,TBK-2,00+02.92,110.0,2016-03-27,1,30,259.0,279.72
2,3,3,PH,DS,Tendon,TBI-2,00+04.39,110.0,2016-03-30,1,30,170.0,183.60
3,4,4,PH,DS,Tendon,TBM-2,00+04.50,110.0,2016-05-24,1,30,270.0,291.60
4,5,5,PH,DS,Tendon,TBE-2,00+04.50,110.0,2016-05-18,1,30,190.0,205.20

In [7]:
import sys
reload(sys)
sys.setdefaultencoding('utf8')

In [ ]:
display(data_df)  #pixiedustinspections = pixiedust.sampleData display